<div *ngIf="!country; else divPais" class="alert alert-info">
  Espere por favor
</div>

<ng-template #divPais>
  <div *ngIf="country" class="row">
    <div class="col-12">
      <h1>País: {{ country.name.common }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <h3>Bandera</h3>
      <img [src]="country.flags.svg" class="img-thumbnail" />
    </div>
    <div class="col">
      <h3>Información</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong>Población: </strong> {{ country.population | number }}
        </li>
        <li class="list-group-item">
          <strong>Codigo: </strong> {{ country.ccn3 | number }}
        </li>
        <li class="list-group-item">
          <strong>Alpha3: </strong> {{ country.cioc }}
        </li>
      </ul>
    </div>
  </div>

  <h3>Traducciones</h3>
  <div class="col">
    <div class="col">
      <span class="badge bg-primary m-1">{{
        country.translations["ara"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country.translations["deu"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country.translations["fin"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country.translations["fra"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country.translations["hun"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country.translations["ita"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country.translations["jpn"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country.translations["kor"].common
      }}</span>
    </div>
  </div>

  <pre class="mt-10">
    {{ country | json }}
  </pre>
</ng-template>
