<h2>Por País</h2>

<div class="row">
  <div class="col">
    <app-country-input
      (onEnter)="buscar($event)"
      (onDebounce)="sugerencias($event)"
      placeholder="Buscar pais"
    ></app-country-input>
  </div>
</div>

<ul class="list-group" *ngIf="mostrarSugerencias">
  <li
    class="list-group-item list-group-item-action"
    *ngFor="let country of sugerenciasList"
  >
    <a [routerLink]="['/country', country.cca2]">
      {{ country.name.common }}
    </a>
  </li>
  <li class="list-group-item list-group-item-action">
    <a class="nav-link" (click)="buscarSugerido(termino)"
      >Buscar "{{ termino }}"</a
    >
  </li>
</ul>

<hr />

<div class="alert alert-danger" *ngIf="isError">
  No se encontró {{ termino }}
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
