<h2>Por País</h2>

<div class="row">
  <div class="col">
    <!-- (onDebounce)="sugerencias($event)" Esta linea debe ir en <app-country-input> -->
    <app-country-input
      (onEnter)="buscar($event)"
      placeholder="Buscar pais"
    ></app-country-input>
  </div>
</div>

<hr />

<div class="alert alert-danger" *ngIf="isError">
  No se encontró {{ termino }}
</div>

<div class="row" *ngIf="countries.length > 0">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
