<table class="table table-hover" *ngIf="countries.length > 0">
  <thead>
    <tr>
      <th></th>
      <th>Nombre</th>
      <th>Poblacion</th>
      <th>Área</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let country of countries; let i = index">
      <td>
        <img class="small-flag" [src]="country.flags.svg" />
      </td>
      <td>{{ country.name.common }}</td>
      <td>{{ country.population | number }}</td>
      <td>{{ country.area | number }} mt<sup>2</sup></td>
    </tr>
  </tbody>
</table>
